ul {
    margin-top: 6px;
    padding-left: 20px;
}

img.centered, iframe.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

div.article {
    margin-left: 16px;
    margin-right: 16px;
}

h1 {
    margin-top: 0;
    margin-bottom: 8px;
}

h5 {
    margin-top: 0;
    margin-bottom: 8px;
    display: inline-block;
}

h5.date {
    color: darkgrey
}

textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    font-size: medium;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    background-color: #2e90c9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
}

button.delete {
    margin-top: 16px;
    margin-bottom: 0;
    background-color: #ca2222;
}

h3 {
    margin-bottom: 8px;
}

h5 {
    margin-top: 8px;
    margin-bottom: 0;
    margin-right: 4px;
    display: inline-block;
}

h5.date {
    color: darkgrey
}

p.comment-body {
    margin-top: 0;
    margin-bottom: 8px;
}