html, body, textarea {
    margin: 0 auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    text-decoration: none;
    color: #2196F3;
}

body {
    max-width: 1000px;
    min-width: 300px;
}

.menu {
    overflow: hidden;
    background-color: white;
}

.menu a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.menu a:hover {
    background-color: rgb(231, 228, 228);
}

.menu a.active {
    background-color: #2e90c9;
    color: white;
}

.menu .icon {
    display: none;
}
.account {
    float: right;
}

@media screen and (max-width: 640px) {
    .menu a:not(:first-child), .account {
        display: none;
    }
    .menu a.icon {
        float: right;
        display: block;
        padding-bottom: 17px;
    }
    .menu.dropdown {
        position: relative;
    }
    .menu.dropdown a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .menu.dropdown a, .account {
        float: none;
        display: block;
        text-align: left;
    }
}