p.article-placeholder {
    background-color: rgb(235, 235, 235);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    border-radius: 1em;
    border-width: 3px;
    padding-left: 9px;
    padding-top: 6px;
    padding-bottom: 500px;
}

div.article-previews {
    margin-left: 14px;
    margin-right: 14px;
}

h2 {
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 34px;
}

h5 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: 4px;
    display: inline-block;
}

h5.date {
    color: darkgrey
}

p {
    margin: 0;
}

a {
    font-size: 18px;
    margin-top: 8px;
    display: block;
}

.menu a {
    margin-top: 0;
}