html, body {
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

a.go-home {
  position: absolute;
  padding-top: 10px;
  font-size: 20px;
}

i.fa-home {
  margin-right: 8px;
}

body {
    max-width: 600px;
    min-width: 200px;
}

h1 {
  margin-bottom: 4px;
}

h1, p {
    text-align: center;
}

input[type=text], input[type=password] {
  width: 100%;
  font-size: medium;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  width: 100%;
  background-color: #2985b9; 
  color: white;
  padding: 14px 20px;
  font-size: medium;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #106596;
}

.checkbox-container {
  width: fit-content;
  display: block;
  position: relative;
  padding-left: 35px;
  padding-top: 2px;
  margin-top: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border-radius: 4px;
  background-color: #eee;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

a {
  text-decoration: none;
  color: #2196F3;
}

.registration-form p {
  margin-top: 0;
  margin-bottom: 4px;
  color: #d20b0b;
  text-align: left;
  display: none;
}

button:disabled {
  background-color: #2985b973;
}

.registration-form p {
  margin-top: 0;
  margin-bottom: 4px;
  color: #d20b0b;
  text-align: left;
  display: none;
}

button:disabled {
  background-color: #2985b973;
}