h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

input[type=text], textarea, select {
    width: 100%;
    font-size: medium;
    padding: 12px 20px;
    margin-top: 8px;
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

div.editor-div {
    margin-left: 16px;
    margin-right: 16px;
}

.editor {
    border: solid 1px #ddd;
    border-radius: 4px;
    padding: 20px;
    min-height: 300px;
}

.sample-toolbar {
    border: solid 1px #ddd;
    background: #f4f4f4;
    padding: 10px 10px;
    border-radius: 4px;
    margin: 8px 0;
}

.sample-toolbar a {
    margin-right: 8px;
    color: #2e90c9;
}

.sample-toolbar > span {
    cursor: pointer;
}

.sample-toolbar > span:hover {
    text-decoration: underline;
}

button {
    margin-top: 10px;
    background-color: #2e90c9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
}

ul {
    margin-top: 6px;
    padding-left: 20px;
}

img.centered, iframe.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

select {
    background-position: right 5px;
    padding: 10px 16px;
}