h1 {
    margin: 0;
}

div.user-info {
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

image.user-info {
    float: left;
    width: 25%;
}

div.user-description {
    float: right;
    width: 75%;
}

button {
    margin-top: 6px;
    background-color: #2e90c9;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    margin-bottom: 10px;
}

@media screen and (max-width: 850px) {
    body {
        text-align: center;
    }

    image.user-info {
        float: none;
        width: 100%;
    }

    div.user-description {
        padding-top: 20px;
        float: none;
        width: 100%;
    }
}